{% extends 'base.html' %}
{% load widget_tweaks %}
{% block corpo %}
<h1 class="h3 mb-0 text-gray-800"><strong>Atualiza Acesso Carros </strong></h1>
<form action="" method="post">
  {% csrf_token %}
   <div class="form-group">
    <label >Placa do Carro:</label> <a href="/adicionaCadastroFornecedor/" title="Adiciona Novo Fornecedor"><i class="fas fa-user-plus"></i></a>
    {{ form.placaCarro|add_class:"form-control" }}

    </div>

    <div class="form-group">
    <label >Data da Entrada:</label>
    {{ form.dataEntrada|add_class:"form-control" }}

    </div>

     <div class="form-group">
    <label >Horário da Entrada:</label>
    {{ form.horaEntrada|add_class:"form-control" }}

    </div>

     <div class="form-group">
    <label >Data da saída:</label>
    {{ form.dataSaida|add_class:"form-control" }}

    </div>

     <div class="form-group">
    <label >Horário da saída:</label>
    {{ form.horaSaida|add_class:"form-control" }}

    </div>

    <script>
        $('#id_dataEntrada').datepicker({
            datepicker: { showOtherMonths: true },
            modal: true,
            footer: true
        });
        $('#id_horaEntrada').timepicker();
        $('#id_dataSaida').datepicker({
            datepicker: { showOtherMonths: true },
            modal: true,
            footer: true
        });
        $('#id_horaSaida').timepicker();

    </script>

  <a type="button" href="javascript:history.go(-1)" class="btn btn-warning" >Cancelar</a>
  <a type="button" href="/excluiAcessoCarros/{{ itemAcessoCarros.id }}"  class="btn btn-danger" >Excluir</a>
    
   <button type="submit" class="btn btn-success" >Salvar</button>

</form>

{% endblock %}