{% extends 'base.html' %}

{% block corpo %}
<h1 class="h3 mb-0 text-gray-800"><strong>Lista de Acesso dos Fornecedores </strong></h1>
<br><br>
<table align="center" class="table table-striped">
    <tr>
      <td><b style="font-size:16px">Nome do Fornecedor</b></td>
      <td><b style="font-size:16px">Data da Entrada</b></td>
      <td><b style="font-size:16px">Horário da Entrada</b></td>
      <td><b style="font-size:16px">Data da Saída</b></td>
      <td><b style="font-size:16px">Horário da Saída</b></td>
      <td><b style="font-size:16px"></b></td>
    </tr>

    {% for itemAcessoFornecedores in listaAcessoFornecedores_itens%}
    <tr>
        <td>{{itemAcessoFornecedores.nomeFornecedor}}</td>
        <td>{{itemAcessoFornecedores.dataEntrada}}</td>
        <td>{{itemAcessoFornecedores.horaEntrada}}</td>
        <td>{{itemAcessoFornecedores.dataSaida}}</td>
        <td>{{itemAcessoFornecedores.horaSaida}}</td>
        <td><a class="btn btn-primary btn-sm" type="button" href="/atualizaAcessoFornecedores/{{ itemAcessoFornecedores.id }}">Editar</a></td>


    </tr>

    {% endfor %}

</table>

{% endblock %}