{% extends 'base.html' %}

{% block corpo %}


<div class="container-fluid">

			<!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
          </div>

		     <!-- Content Row -->
          <div class="row">

            <!-- Card de Cadastro visitantes -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Cadastro</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="/adicionaCadastroVisitante/">Visitantes</a></div>
                    </div>
                    <div class="col-auto">
                      <!--<i class="fas fa-calendar fa-2x text-gray-300"></i>-->
					  <i class="fas fa-user-plus fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Card de Cadastro fornecedores -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Cadastro</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="/adicionaCadastroFornecedor">Fornecedores</a></div>
                    </div>
                    <div class="col-auto">
                      <!--<i class="fas fa-calendar fa-2x text-gray-300"></i>-->
					  <i class="fas fa-user-plus fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Card de Cadastro carros -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Cadastro</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="/adicionaCadastroCarros/">Carros</a></div>
                    </div>
                    <div class="col-auto">
                      <!--<i class="fas fa-calendar fa-2x text-gray-300"></i>-->
					  <i class="fas fa-car-side fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Card de Cadastro de moradores -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Cadastro</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="/adicionaCadastroMorador/">Moradores</a></div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-user-plus fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

		     <!--  2ºContent Row -->
          <div class="row">

            <!-- Controle de acesso -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Controle de Acesso</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="/adicionaAcessoMorador/">Moradores</a></div>
                    </div>
                    <div class="col-auto">
                      <!--<i class="fas fa-calendar fa-2x text-gray-300"></i>-->
					  <i class="fas fa-arrow-alt-circle-right fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- controle de acesso fornecedores -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Controle de Acesso</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="/adicionaAcessoFornecedor/">Fornecedores</a></div>
                    </div>
                    <div class="col-auto">
                      <!--<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>-->
					  <i class="fas fa-arrow-alt-circle-right fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- controle de acesso carros -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Controle de Acesso</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="/adicionaAcessoCarro/">Carros</a></div>
                    </div>
                    <div class="col-auto">
                      <!--<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>-->
					  <i class="fas fa-car-side fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Controle de acesso visitantes -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Controle de Acesso</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="/adicionaAcessoVisitante/">Visitantes</a></div>
                    </div>
                    <div class="col-auto">
                      <!--<i class="fas fa-comments fa-2x text-gray-300"></i>-->
					  <i class="fas fa-arrow-alt-circle-right fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

		     <!-- 3º Content Row -->
          <div class="row">

            <!-- relatorio moradores -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Relatórios</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="/verMorador/">Moradores</a></div>
                    </div>
                    <div class="col-auto">
                      <!--<i class="fas fa-calendar fa-2x text-gray-300"></i>-->
					  <i class="fas fa-print fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Relatorio fornecedores -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Relatórios</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="/verFornecedor/">Fornecedores</a></div>
                    </div>
                    <div class="col-auto">
                      <!--<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>-->
					  <i class="fas fa-print fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Relatorio carros -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Relatórios</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="/verCarros/">Carros</a></div>
                    </div>
                    <div class="col-auto">
                      <!--<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>-->
					  <i class="fas fa-print fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Relatorio carros -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Relatórios</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="/verVisitante/">Visitantes</a></div>
                    </div>
                    <div class="col-auto">
                      <!--<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>-->
					  <i class="fas fa-print fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

		  <!-- Content Row -->
          <div class="row">
			  <div class="col-lg-6 mb-4">
					<!-- Approach -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Diário de Ações</h6>
						</div>
						<div class="card-body">
							<a href = "/listaDiario/">Visualizar Diário</a><br>
                            <a href = "/adicionarDiario/">Inserir  Diário</a>
						</div>
					</div>



			  </div>
			  <div class="col-lg-6 mb-4">
					<!-- Approach -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">Mensagens</h6>
						</div>
						<div class="card-body">
							<a href = "/listaMensagem/">Visualizar Mensagem</a><br>
                            <a href = "/adicionaMensagem/">Inserir Mensagem</a>
						</div>
					</div>



			  </div>





		  </div>











        </div>
        <!-- /.container-fluid -->


      <!-- End of Main Content -->


{% endblock %}
