{% extends 'base.html' %}

{% block corpo %}
<h1 class="h3 mb-0 text-gray-800"><strong>Relatório dos Carros  </strong></h1>
<br><br>

<div class="row">
                <div class="col-lg-6 mb-4">
                  <div class="card bg-info text-white shadow">
                    <div class="card-body text-white">
                        <a href = "/listaCadastroCarros/" class="text-white">Lista Carros Cadastrados</a>
                      <div class="text-white-50 small"></div>
                    </div>
                  </div>
                </div>


</div>

<div class="row">
                <div class="col-lg-6 mb-4">
                  <div class="card bg-info text-white shadow">
                    <div class="card-body">
                        <a href = "/listaAcessoCarros/" class="text-white">Lista Acesso dos Carros </a>
                      <div class="text-white-50 small"></div>
                    </div>
                  </div>
                </div>


</div>

{% endblock %}